@import 'tailwindcss';
@import "tw-animate-css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:is(.dark, .dark *));

:root {
    color-scheme: light;

    --background: light-dark(oklch(1 0 0), oklch(0.145 0 0));
    --foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
    --card: light-dark(oklch(1 0 0), oklch(0.145 0 0));
    --card-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
    --popover: light-dark(oklch(1 0 0), oklch(0.145 0 0));
    --popover-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
    --primary: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
    --primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));
    --secondary: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
    --secondary-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
    --muted: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
    --muted-foreground: light-dark(oklch(0.556 0 0), oklch(0.708 0 0));
    --accent: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
    --accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
    --destructive: light-dark(oklch(0.577 0.245 27.325), oklch(0.396 0.141 25.723));
    --destructive-foreground: light-dark(oklch(0.577 0.245 27.325), oklch(0.637 0.237 25.331));
    --border: light-dark(oklch(0.922 0 0), oklch(0.269 0 0));
    --input: light-dark(oklch(0.922 0 0), oklch(0.269 0 0));
    --ring: light-dark(oklch(0.708 0 0), oklch(0.439 0 0));
    --chart-1: light-dark(oklch(0.646 0.222 41.116), oklch(0.488 0.243 264.376));
    --chart-2: light-dark(oklch(0.6 0.118 184.704), oklch(0.696 0.17 162.48));
    --chart-3: light-dark(oklch(0.398 0.07 227.392), oklch(0.769 0.188 70.08));
    --chart-4: light-dark(oklch(0.828 0.189 84.429), oklch(0.627 0.265 303.9));
    --chart-5: light-dark(oklch(0.769 0.188 70.08), oklch(0.645 0.246 16.439));
    --sidebar: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));
    --sidebar-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
    --sidebar-primary: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
    --sidebar-primary-foreground: light-dark(oklch(0.985 0 0), );
    --sidebar-accent: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
    --sidebar-accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
    --sidebar-border: light-dark(oklch(0.922 0 0), oklch(0.269 0 0));
    --sidebar-ring: light-dark(oklch(0.708 0 0), oklch(0.439 0 0));

    --radius: 0.625rem;
}

:root.dark {
    color-scheme: dark;
    iframe { background: oklch(0.205 0 0) !important; }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes slideDown {
        from {
            height: 0;
        }
        to {
            height: var(--reka-collapsible-content-height);
        }
    }

    @keyframes slideUp {
        from {
            height: var(--reka-collapsible-content-height);
        }
        to {
            height: 0;
        }
    }

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--reka-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--reka-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }

    /* styles.css */
    [data-slot="collapsible"] {
        overflow: hidden;
    }
    [data-slot="collapsible-content"][data-state="open"] {
        animation: slideDown 300ms ease-out;
    }
    [data-slot="collapsible-content"][data-state="closed"] {
        animation: slideUp 300ms ease-out;
    }
}

.vjs-tree-node.is-highlight, .vjs-tree-node:hover {
    background-color: var(--accent) !important;
}
